
HelloWorld/HelloWorld.vcxproj.user
HelloWorld/HelloWorld.vcxproj.filters
HelloWorld/HelloWorld.vcxproj
HelloWorld/HelloWorld.sln
HelloWorld/.vs/HelloWorld/v17/ipch/AutoPCH/8781c55162b399d3/HELLOWORLD.ipch
HelloWorld/.vs/HelloWorld/v17/Browse.VC.opendb
HelloWorld/.vs/HelloWorld/v17/Browse.VC.db-wal
.vs/HelloWorld/v17/.suo
.vs/HelloWorld/FileContentIndex/99271933-6ef3-4f28-a9bf-34edf19435d3.vsidx
.vs/HelloWorld/FileContentIndex/read.lock
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
HelloWorld/.vs/HelloWorld/v17/Browse.VC.db
HelloWorld/.vs/HelloWorld/v17/Browse.VC.db-shm
